:root {
  --primary-red: #730201;
  --light-red: #fde8e8;
  --bg-white: #ffffff;
  --text-dark: #111111;
  --text-grey: #666666;
  --secondary-bg: #730201;
  --maroon: #730201;
  --text-main: #111111;
  --text-sub: #666666;
  --bg-page: #f7f7f7;
  --unread-bg: #fffafa;
}
