:root {
  --primary-red: #730201;
  --light-red: #fde8e8;
  --bg-white: #ffffff;
  --text-dark: #333333;
  --text-grey: #666666;
  --secondary-bg: #b82a04;
  --maroon: #730201;
  --text-main: #1a1a1a;
  --text-sub: #666666;
  --bg-page: #ffffff;
  --unread-bg: #fffafa;
}
